<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'shared.phrases.' + greetingText() | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToStats()">
        <ion-icon
          slot="icon-only"
          style="color: var(--ion-text-color)"
          name="stats-chart-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isDesktop()" (click)="goToSettings()">
        <ion-icon
          slot="icon-only"
          style="color: var(--ion-text-color)"
          name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!isDesktop()" slot="start">
      <ion-button (click)="goToSettings()">
        <ion-icon
          slot="icon-only"
          style="color: var(--ion-text-color)"
          name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="max-w-[440px] mx-auto">
    <ion-header collapse="condense">
      <ion-toolbar style="position: relative">
        <ion-title size="large">{{
          'shared.phrases.' + greetingText() | translate
        }}</ion-title>
      </ion-toolbar>
      <!--      <ion-toolbar style="position:relative;">-->
      <!--        <ion-searchbar [placeholder]="'shared.searchbarPlaceholder' | translate"-->
      <!--                       (ionChange)="searchHome($event)"></ion-searchbar>-->
      <!--      </ion-toolbar>-->
    </ion-header>
    <div class="flex justify-center">
      <ion-segment class="segment" [value]="segmentValue" [scrollable]="true">
        <ion-segment-button value="account">
          <ion-label>{{ 'homePage.segments.account' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="transactions">
          <ion-label>{{
            'homePage.segments.transactions' | translate
          }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <ng-container *ngIf="segmentValue === 'account'">
      <swiper-container
        class="h-[190px] w-full"
        *ngIf="!myCards.length"
        [options]="accountCardsOptions"
        dir="rtl">
        <swiper-slide *ngFor="let i of [0, 0, 0]">
          <ion-card class="mx-0 my-2.5 h-[170px] w-full">
            <ion-skeleton-text
              class="h-full w-full m-0"
              [animated]="true"></ion-skeleton-text>
          </ion-card>
        </swiper-slide>
      </swiper-container>
      <swiper-container
        @enterAnimation
        *ngIf="myCards.length"
        #slides
        [options]="accountCardsOptions"
        dir="rtl"
        [pager]="true">
        <swiper-slide *ngFor="let card of myCards">
          <ng-container *ngIf="!card.add">
            <img
              style="height: 100%"
              class="absolute z-10 opacity-10"
              slot="end"
              src="assets/images/bank-icon/{{
                getCardBankInfo(card.cardNumber).english
              }}.svg"
              alt="{{ getCardBankInfo(card.cardNumber).english }}" />
            <ion-card class="mx-0 my-2.5 w-full">
              <ion-card-header class="z-20 pb-0">
                <div class="flex items-center flex-nowrap" dir="ltr">
                  <div class="grow text-left">
                    <ion-text
                      class="text-xl"
                      style="padding-inline: 0; color: var(--ion-text-color)">
                      {{ card.balance | number : '1.' }}
                    </ion-text>
                    <div class="flex justify-left">
                      <ion-text color="medium" class="text-[.75rem]"
                        >تومان ایران</ion-text
                      >
                    </div>
                  </div>
                  <img
                    style="height: 46px"
                    class="grow-0 shrink-0"
                    slot="end"
                    src="assets/images/bank-icon/{{
                      getCardBankInfo(card.cardNumber).english
                    }}.svg"
                    alt="{{ getCardBankInfo(card.cardNumber).english }}" />
                </div>
                <div class="w-full flex justify-center py-[4px]">
                  <div
                    class="text-lg bold py-1 px-2 rounded-full w-fit"
                    style="color: var(--ion-text-color)">
                    {{ card.cardNumber.substr(0, 4) }}
                    {{ card.cardNumber.substr(4, 4) }}
                    {{ card.cardNumber.substr(8, 4) }}
                    {{ card.cardNumber.substr(12, 4) }}
                  </div>
                </div>
              </ion-card-header>
              <ion-card-content
                class="flex z-20 items-center"
                [dir]="rtlService.isRtl ? 'rtl' : 'ltr'">
                <ion-icon
                  class="text-xl"
                  color="warning"
                  *ngIf="card.default"
                  slot="icon-only"
                  name="star"></ion-icon>
                <ion-chip *ngIf="false" class="px-2.5 py-0" color="primary">
                  <ion-icon
                    style="margin-inline-end: 4px"
                    name="add"
                    color="primary"></ion-icon>
                  <ion-label>{{
                    'homePage.chips.addMoney' | translate
                  }}</ion-label>
                </ion-chip>
                <ion-chip class="px-2.5 py-0" color="primary">
                  <ion-icon
                    style="margin-inline-end: 4px"
                    name="arrow-up"
                    color="primary"></ion-icon>
                  <ion-label>{{
                    'homePage.chips.sendMoney' | translate
                  }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="false" class="px-2.5 py-0" color="primary">
                  <ion-icon
                    style="margin-inline-end: 4px"
                    name="arrow-down"
                    color="primary"></ion-icon>
                  <ion-label>{{
                    'homePage.chips.receiveMoney' | translate
                  }}</ion-label>
                </ion-chip>
                <ion-chip class="px-2.5 py-0" color="primary">
                  <ion-icon
                    style="margin-inline-end: 4px"
                    name="help-buoy-outline"
                    color="primary"></ion-icon>
                  <ion-label>{{
                    'homePage.chips.requestMoney' | translate
                  }}</ion-label>
                </ion-chip>
              </ion-card-content>
            </ion-card>
          </ng-container>
          <ng-container *ngIf="card.add">
            <ion-card
              class="mx-0 my-2.5 w-full flex justify-center items-center min-h-[170px]">
              <ion-button
                size="large"
                fill="clear"
                color="primary"
                (click)="addCard()">
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-card>
          </ng-container>
        </swiper-slide>
      </swiper-container>
      <ion-list>
        <ion-list-header>
          <ion-label class="mt-4 text-xl">{{
            'homePage.lists.headers.transactions' | translate
          }}</ion-label>
          <ion-button class="mt-4" (click)="goToTransactions()">{{
            'homePage.lists.seeAllButton' | translate
          }}</ion-button>
        </ion-list-header>
        <ng-container *ngIf="!recentTransactions.length; else transactions">
          <ion-item style="--height: 62px" *ngFor="let i of [0, 0, 0]">
            <ion-avatar slot="start">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3 style="width: 50%">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </h3>
              <p style="width: 20%; margin-bottom: 2px">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-text style="height: 19px; width: 20%" slot="end">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-template #transactions>
          <ion-item
            @enterAnimation
            *ngFor="let t of recentTransactions"
            button
            [detail]="false">
            <ion-avatar slot="start">
              <img
                alt="Silhouette of a person's head"
                [src]="sharedService.getTransactionCategoryIcon(t.category)" />
            </ion-avatar>
            <ion-label>
              <h3>
                {{ 'homePage.lists.categories.' + t.category | translate }}
              </h3>
              <p>{{ t.time | threadTime }}</p>
            </ion-label>
            <ion-text
              class="text-sm"
              dir="ltr"
              slot="end"
              [color]="t.type === 'out' ? 'danger' : 'success'">
              {{ t.type === 'out' ? '- ' : '+ ' }}
              {{
                'shared.phrases.amountToman'
                  | translate : { amount: (t.amount | number : '1.') }
              }}
            </ion-text>
          </ion-item>
        </ng-template>
      </ion-list>
    </ng-container>
  </div>
</ion-content>
