<ion-header *ngIf="!isDesktop" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'friendsPage.header' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          style="color: var(--ion-text-color)"
          name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div
    *ngIf="isDesktop; else mobileTemplate"
    class="h-full m-auto"
    style="width: 440px">
    <div style="position: sticky; top: 0; background: transparent; z-index: 1">
      <div
        class="spacer"
        style="background: var(--ion-background-color, #fff)"></div>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{
            'friendsPage.header' | translate
          }}</ion-title>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon
                slot="icon-only"
                style="color: var(--ion-text-color)"
                name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>
    <ion-card *ngIf="false">
      <ion-card-content>
        <fateh-friends-list-section></fateh-friends-list-section>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="false">
      <ion-card-header>
        <ion-card-title>{{
          'friendsPage.listFriends.header' | translate
        }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <fateh-friends-list [selectionStyle]="false"></fateh-friends-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #mobileTemplate>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{
          'friendsPage.header' | translate
        }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <fateh-friends-list-section *ngIf="false"></fateh-friends-list-section>
    <fateh-friends-list
      *ngIf="false"
      [selectionStyle]="false"></fateh-friends-list>
  </ng-template>
</ion-content>
